.grid-container{
    display: grid;
    background-color: white;
    width: 640px;
    height: 640px; 
    margin: 25px;
    border-color: aqua;
    border-style: solid;
}

.grid-element{
    padding: 0px;
    margin: 0px;

}

.hover{
    background-color: #444;
}


body{
    display: flex;
    align-items: center;
    background-color: #DA8FFB;
}

button{
    font-size: 24pt;
    border-radius: 4px;
    display: inline;
    vertical-align: 50%;
}